.header_contact{
    background-image: url("../img/Contact/e578511cd12bcb-bannervechungtoi.jpg");
    height: 400px;
    background-repeat: no-repeat;
    text-align: left; 
}
.conten_ft{
    padding: 5px;
}
